.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  gap: 12px;
  padding: 28px 0;
}

.title {
  font-size: 0.8rem;
  color: gray;
  padding-left: 28px;
}
